<!DOCTYPE html>
<!-- Dodana przestrzeń nazw th -->
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<head>
    <!-- Ustawiamy tytuł -->
    <title th:text="|${school.name} - DanceClub|">Szkoła tańca - DanceClub</title>
</head>

<div class="container">
    <main class="main-content" layout:fragment="content">
        <section class="school">
            <!-- Podsumowanie -->
            <div class="school-summary">
                <!-- Ustawiamy adres i opis plakatu -->
                <img src="../static/img/poster-placeholder.png"
                     th:src="@{/img/poster-placeholder.png}"
                     alt="nazwa zajec"
                     th:alt="${school.name}"
                     class="school-summary-cover"
                />
                <!-- informacje o zajęciach -->
                <div class="school-summary-info">
                    <!-- Ustawiamy opis zajec -->
                    <!-- Ustawiamy link do strony zajęć, np. /school/2 -->
                    <h1 class="school-summary-item" th:text="${school.name}">Nazwa Szkoły</h1>
                    <p class="school-summary-title" th:text="${school.address}">Adres</p>

                </div>
            </div>
            <!-- Ocena -->
            <div class="school-rating-container school-section">
                <h2 class="school-section-heading">Ocena</h2>
                <div>
                    <p class="school-rating-value" th:text="${avgRating}">4.0</p>
                    <p style="text-align: center">Liczba ocen: 134</p>
                </div>
                <form action="#" class="school-rating-form">
                    <!-- Identyfikator zajec, na który głosujemy-->
                    <p>Twoja ocena</p>
                    <input type="hidden" name="schoolId">
                    <div class="school-rating-buttons">
                        <button class="school-rating-button"><i class="fa-solid fa-star"></i></button>
                        <button class="school-rating-button"><i class="fa-solid fa-star"></i></button>
                        <button class="school-rating-button"><i class="fa-solid fa-star"></i></button>
                        <button class="school-rating-button"><i class="fa-solid fa-star"></i></button>
                        <button class="school-rating-button"><i class="fa-regular fa-star"></i></button>
                    </div>
                </form>
                <p><a href="#">Zaloguj się</a>, aby oddać głos</p>
            </div>
        </section>
        <!-- opis -->
        <section class="school-section">
            <h2 class="school-section-heading">Opis</h2>
            <!-- Ustawiamy pełny opis -->
            <p th:text="${school.description}">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                Donec lacinia congue felis in faucibus.</p>
        </section>
    </main>
</div>
</body>
</html>