<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<head>
    <title th:text="|${teacher.name} ${teacher.surname} - DanceClub|">Nauczyciel tańca - imię nazwisko</title>
</head>

<div class="container" layout:fragment="content">
    <main class="main-content">
        <section class="teacher">
            <!-- Podsumowanie -->
            <div class="teacher-summary">
                <!-- Ustawiamy adres i opis plakatu -->
                <img src="../static/img/poster-placeholder.png"
                     th:src="@{/img/poster-placeholder.png}"
                     alt="Nauczyciel"
                     th:alt="|${teacher.name} ${teacher.surname}|"
                     class="teacher-summary-cover"
                />
                <!-- informacje o nauczycielu -->
                <div class="teacher-summary-info">
                    <!-- Ustawiamy opis nauczyciela -->

                    <h1 class="teacher-summary-title" th:text="|${teacher.name} ${teacher.surname}|">Imie i nazwisko</h1>
                    <p class="teacher-summary-item" >
                        <a href="#"
                           th:href="@{|/genre/${teacher.genre_name}|}"
                           th:text="|${teacher.genre_name}|"
                        >Gatunek tańca</a>
                    </p>
                    <p class="teacher-summary-item" th:text="${teacher.short_description}">
                        Jakiś tam opis nauczyciela tańca
                    </p>
                </div>
            </div>
            <!-- Ocena -->
            <div class="teacher-rating-container teacher-section">
                <h2 class="teacher-section-heading">Ocena</h2>
                <!-- Jeżeli nie oddano żadnego głosu -->
                <p th:unless="${teacher.ratingCount}">Brak głosów</p>
                <!-- Jeżeli oddano głos -->
                <div th:if="${teacher.ratingCount}">
                    <!-- Zaokrąglamy ocenę do 1 miejsca przed i po przecinku -->
                    <p class="teacher-rating-value" th:text="${#numbers.formatDecimal(teacher.avgRating, 1, 1)}">4.0</p>
                    <p th:text="|Liczba ocen: ${teacher.ratingCount}|">Liczba ocen: 134</p>
                </div>
                <!-- Dodajemy th:action, formularz wyświetlamy tylko zalogowanemu użytkownikowi -->
                <form action="#" th:action="@{/rate-teacher}" method="post"
                      sec:authorize="isAuthenticated()"
                      class="teacher-rating-form">
                    <!-- Identyfikator filmu, na który głosujemy-->
                    <p>Twoja ocena</p>
                    <input type="hidden" name="teacherId" th:value="${teacher.id}">
                    <div class="teacher-rating-buttons">
                        <!-- Generujemy 5 gwiazdek w pętli -->
                        <button class="teacher-rating-button"
                                name="teacherRate"
                                th:each="i: ${#numbers.sequence(1, 5)}"
                                th:value="${i}">
                            <!-- Pełną i pustą gwiazdkę rozróżniamy dodając odpowiednią klasę na podstawie głosu użytkownika -->
                            <i class="fa-star" th:classappend="${i <= userRating ? 'fa-solid' : 'fa-regular'}"></i>
                        </button>
                    </div>
                </form>
                <!-- Link do logowania wyświetlamy tylko wtedy, gdy użytkownik nie jest zalogowany -->
                <p sec:authorize="!isAuthenticated()">
                    <a href="#" th:href="@{/login}">Zaloguj się</a>, aby oddać głos
                </p>
            </div>
        </section>

        <!-- trailer -->
        <section class="teacher-trailer-container teacher-section">
            <h2 class="teacher-section-heading">Promo</h2>
            <!-- Ustawiamy url filmu z trailerem -->
            <iframe width="560" height="315" class="teacher-trailer"
                    src="https://www.youtube.com/embed/V75dMMIW2B4"
                    th:src="|https://www.youtube.com/embed/${teacher.youtube_trailer_id}|"
                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </section>
        <!-- opis -->
        <section class="teacher-section">
            <h2 class="teacher-section-heading">Opis</h2>
            <!-- Ustawiamy pełny opis -->
            <p th:text="${teacher.description}">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at,
                tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        </section>
    </main>
</div>
</body>
</html>