<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Nauczyciel tańca - imię nazwisko</title>
</head>
<body>
<div class="container">
    <ul class="menu">
        <li class="menu-logo-container">
            <a href="#" th:href="@{/}">
                <i class="fas fa-music logo"></i> DanceClub
            </a>
        </li>
        <li class="menu-toggle">
            <a href="#"><i id="toggle-icon" class="far fa-plus-square"></i></a>
        </li>
        <li class="menu-item">
            <a href="#">Gatunki</a>
        </li>
        <li class="menu-item">
            <a href="#">Top10</a>
        </li>
        <li class="menu-item">
            <a href="#">Zaloguj się</a>
        </li>
    </ul>
    <header class="jumbotron">
        <h1 class="jumbotron-header">Dance Club</h1>
        <p class="jumbotron-description">
            Witaj w najlepszej bazie zajęć tanecznych w sieci. Oceniaj wydarzenia i dyskutuj o swojej pasji.
        </p>
    </header>
    <main class="main-content">
        <section class="teacher">
            <!-- Podsumowanie -->
            <div class="teacher-summary">
                <!-- Plakat -->
                <img src="../static/img/poster-placeholder.png"
                     alt="tytuł filmu"
                     class="teacher-summary-cover"
                />
                <!-- informacje o filmie -->
                <div class="teacher-summary-info">
                    <h1 class="teacher-summary-title">Imie i nazwisko</h1>
                    <p class="teacher-summary-item">Bachata</p>
                    <p class="teacher-summary-item" >
                        Jakiś tam opis nauczyciela tańca
                    </p>
                </div>
            </div>
            <!-- Ocena -->
            <div class="teacher-rating-container teacher-section">
                <h2 class="teacher-section-heading">Ocena</h2>
                <div>
                    <p class="teacher-rating-value" th:text="${avgRating}">4.0</p>
                    <p>Liczba ocen: 134</p>
                </div>
                <form action="#" class="teacher-rating-form">
                    <!-- Identyfikator filmu, na który głosujemy-->
                    <p>Twoja ocena</p>
                    <input type="hidden" name="teacherId">
                    <div class="teacher-rating-buttons">
                        <button class="teacher-rating-button"><i class="fa-solid fa-star"></i></button>
                        <button class="teacher-rating-button"><i class="fa-solid fa-star"></i></button>
                        <button class="teacher-rating-button"><i class="fa-solid fa-star"></i></button>
                        <button class="teacher-rating-button"><i class="fa-solid fa-star"></i></button>
                        <button class="teacher-rating-button"><i class="fa-regular fa-star"></i></button>
                    </div>
                </form>
                <p><a href="#">Zaloguj się</a>, aby oddać głos</p>
            </div>
        </section>

        <!-- trailer -->
        <section class="teacher-trailer-container movie-section">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/U-JofUEsbD0"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write;
                    encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </section>
        <!-- opis -->
        <section class="teacher-section">
            <h2 class="teacher-section-heading">Opis</h2>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at,
                tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        </section>
    </main>
</div>
</body>
</html>