<!DOCTYPE html>
<!-- Dodana przestrzeń nazw th -->
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <!-- Nagłówek pobieramy z modelu -->
        <h2 class="list-heading" th:text="${heading}">Promowane zajęcia / Nazwa Kategorii</h2>
        <!-- Opis pobieramy z modelu    th:text="{description}"    -->
        <p class="list-description" >Opis sekcji, przykładowo opis kategorii, albo strony głównej</p>
        <!-- Zostawiamy tylko pierwszy element <li> -->
        <ul class="dance-list" th:remove="all-but-first">
            <!-- Pętla po wszystkich filmach z modelu -->
            <li class="dance-list-item" th:each="unit: ${units}">
                <!-- Link do strony pojedynczych zajęć typu /unit/5 -->
                <a href="#" th:href="@{|/unit/${unit.id}|}">
                    <!-- Po uruchomieniu aplikacji ścieżka do placeholdera plakatu wygląda nieco inaczej -->
                    <img src="../static/img/poster-placeholder.png"
                         th:src="@{/img/poster-placeholder.png}"
                         alt="nazwa zajęć"
                         class="dance-list-item-poster">
                </a>
                <div class="dance-list-item-card">
                    <div class="dance-list-item-content">
                        <h3 class="dance-list-item-title">
                            <!-- Link do strony pojedynczego filmu typu /film/5 -->
                            <a href="#" th:href="@{|/film/${unit.id}|}" th:text="${unit.name}">Nazwa zajęć</a>
                        </h3>
                        <!-- Instruktorzy -->
                        <h4 th:text="|${unit.female_teacher} oraz ${unit.male_teacher}|">Adam i Ewa</h4>
                        <!-- Miejsce zajęć -->
                        <p th:text="${unit.school}">Szkoła Raj</p>
                    </div>
                    <div class="dance-list-item-rating">
                        <i class="fas fa-star"></i>
                        <span>8.7</span>
                    </div>
                </div>
            </li>
            <li class="dance-list-item">
                <a href="#">
                    <img src="../static/img/poster-placeholder.png"
                         alt="nazwa zajęć"
                         class="dance-list-item-poster">
                </a>
                <div class="dance-list-item-card">
                    <div class="dance-list-item-content">
                        <h3 class="dance-list-item-title">
                            <a href="#">Nazwa zajęć</a>
                        </h3>
                        <h4>Instruktorzy</h4>
                        <p>Miejsce zajęć</p>
                    </div>
                    <div class="dance-list-item-rating">
                        <i class="fas fa-star"></i>
                        <span>8.7</span>
                    </div>
                </div>
            </li>
            <li class="dance-list-item">
                <a href="#">
                    <img src="../static/img/poster-placeholder.png"
                         alt="nazwa zajęć"
                         class="dance-list-item-poster">
                </a>
                <div class="dance-list-item-card">
                    <div class="dance-list-item-content">
                        <h3 class="dance-list-item-title">
                            <a href="#">Nazwa zajęć</a>
                        </h3>
                        <h4>Instruktorzy</h4>
                        <p>Miejsce zajęć</p>
                    </div>
                    <div class="dance-list-item-rating">
                        <i class="fas fa-star"></i>
                        <span>8.7</span>
                    </div>
                </div>
            </li>
        </ul>
    </main>
</div>
</body>
</html>